
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.aboutus-yoa {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3.4rem 7.6rem 9.5rem 6.3rem;
  width: 100%;
  align-items: center;
  background-color: #01101e;
  border-radius: 2rem;

  .auto-group-w4z2-6dJ {
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 16.4rem;

    .skillgive-qKz {
      flex-shrink: 0;
      margin-right: 53.4rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2;
      color: #ffffff;
      font-family: League Gothic, 'Source Sans Pro';
      white-space: nowrap;
    }
    .home-ANG {
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5rem;
      font-size: 2.4rem;
    }
    .about-Hhn {
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .categories-dme {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
    }
    .challenges-n8k {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
    }
    .login-hmW {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .about-us-dv4 {
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 4.4rem 1.2rem;
    font-size: 4rem;
    font-weight: 600;
  }
  .join-a-community-of-compassionate-skilled-individuals-making-a-difference-one-challenge-at-a-time-whether-youre-a-coder-artist-runner-or-puzzle-solver-your-skills-can-help-fund-projects-and-organizations-making-real-world-impacts-take-on-a-challenge-showcase-your-talent-and-contribute-to-your-chosen-charity-with-skillgive-mFa {
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 7.1rem 0.5rem;
    max-width: 127.4rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
  }
  .how-it-works-LCC {
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 7.1rem 1.2rem;
    font-size: 4rem;
    font-weight: 600;
  }
  .step-1-select-a-challenge-browse-through-a-diverse-list-of-challenges-ranging-from-physical-activities-coding-marathons-artistic-creations-to-educational-quizzes-step-2-showcase-your-skills-complete-the-challenge-using-your-unique-talents-and-share-your-accomplishment-within-our-community-step-3-donate-and-make-an-impact-upon-completing-a-challenge-contribute-an-amount-of-your-choice-to-a-charity-linked-with-the-challenge-watch-as-your-skills-translate-into-tangible-aid-for-those-in-need-48C {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 19.5rem 0.1rem;
    max-width: 127rem;
  }
  .auto-group-injp-x76 {
    color: #ffffff;
    flex-shrink: 0;
    margin: 0rem 39.4rem 0rem 40.7rem;
    width: calc(100% - 80.1rem);
    font-size: 3.2rem;
    font-family: Poppins, 'Source Sans Pro';
    height: 6rem;
    white-space: nowrap;
    background-color: #8e8a20;
    border-radius: 1rem;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
