
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.homepage-oak {
  padding: 3.4rem 7.6rem 17.888rem 6.3rem;
  width: 100%;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #01101e;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  border-radius: 2rem;

  .auto-group-kvzs-AJp {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 9.7rem;
    width: 100%;

    .skillgive-wMW {
      color: #ffffff;
      font-family: League Gothic, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 53.4rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2;
    }
    .home-CoE {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
    }
    .about-LPe {
      flex-shrink: 0;
      margin-right: 5rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .categories-56L {
      flex-shrink: 0;
      margin-right: 5rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .challenges-DTS {
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5rem;
      font-size: 2.4rem;
    }
    .login-A7n {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-impx-fKS {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 0.6rem 0rem 1.4rem;
    width: calc(100% - 2rem);
    height: 54.212rem;
    display: flex;

    .auto-group-ngs8-Zfi {
      margin: 3.5rem 4.2rem 4.212rem 0rem;
      height: calc(100% - 7.712rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .empower-through-skills-the-charity-challenge-platform-HLp {
        max-width: 73.9rem;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .turn-your-talents-into-impactful-donations-b6c {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
      }
      .welcome-to-our-unique-platform-where-your-skills-and-challenges-translate-into-charitable-donations-whether-youre-a-runner-a-coder-a-chef-or-have-any-other-talent-heres-where-you-can-use-those-abilities-to-make-a-real-difference-join-a-community-dedicated-to-changing-the-world-one-challenge-at-a-time-74x {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.5);
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 3.1rem;
        max-width: 59.9rem;
      }
      .auto-group-bqd2-3si {
        width: 30rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-left: 0.4rem;
        height: 7rem;
        font-size: 3.2rem;
        white-space: nowrap;
        background-color: #8e8a20;
        line-height: 1.5;
        border-radius: 1rem;
        font-weight: 400;
        justify-content: center;
      }
    }
    .d-casual-life-smiling-young-couple-standing-and-using-mobile-phones-1-6b6 {
      width: 50rem;
      height: 54.212rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
